.companyStructureComponent {
    padding-top: 18px;
    .treeNode {
        padding: 5px;
        border-radius: 8px;
        display: inline-block;
        border: solid 2px #fc9c05;
        box-shadow: 0px 0px 4px  #61cefc;
    }
}
