.imageGallery {
    display: inline-flex;
    .leftImage > img{
        min-width: 50%;
        min-height: 50%;
        width: 100%;
        height: 50%;
    }
    .leftImage {
        padding: 18px;
    }
    .rightImage {
        display: inline-flex;
        .leftButton,.rightButton {
            width: 48px;
            height: 48px;
            position:relative;
            background: transparent;
        }
        .leftButton{
            margin-right: -48px;
        }
        .rightButton{
            margin-left: -48px;
        }
    }
    .rightImage > img{
        min-width: 50%;
        min-height: 50%;
        width: 100%;
        height: 75%;
    }
}